@font-face {
  font-family: "Alegreya-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../vendor/fonts/Alegreya-Medium.woff") format("woff");
}

@font-face {
  font-family: "Alegreya-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/fonts/Alegreya-Regular.woff") format("woff");
}

@font-face {
  font-family: "Alegreya-Bold";
  font-style: normal;
  font-weight: 900;
  src: url("../vendor/fonts/Alegreya-Bold.woff") format("woff");
}

.page {
  margin: 0;
  border: 2px double red;

  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1440px) {
  .page {
    min-width: 1440px;
  }
}
