@import url(./__text/about-cakes__text.css);
@import url(./__pic/about-cakes__pic.css);
@import url(./__autograph-pic/about-cakes__autograph-pic.css);
@import url(./__autograph/about-cakes__autograph.css);
@import url(./__autograph-text/about-cakes__autograph-text.css);
@import url(./__photo/about-cakes__photo.css);
@import url(./__tastes/about-cakes__tastes.css);
@import url(./__tastes-text/about-cakes__tastes-text.css);

.about-cakes {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;

  padding: 100px 100px;
}
