.about-cakes__tastes-text {
  font-family: 'Alegreya-Medium';
  font-weight: 50;
  color: #ad6800;
  font-size: 2.125rem;
  line-height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  margin-top: 30%;
}
